<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- META -->
    <title>EXCHANGE</title>
    <meta charset="UTF-8">
    <!-- FONT -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../css/simple-grid.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
    <!-- SCRIPT -->
    <script src="../../script/buy-data.js"></script>
</head>
<body>
<div class="container">
    <div class="row center-container">
        <div class="border center fit">
            <h1>BUY</h1>
            <form name="f" th:object="${buyItem}" th:action="@{/buy}" method="POST">
                <table>
                    <tr>
                        <td>CODE:</td>
                        <td><input id="code" type="text" th:field="*{code}" name="code" required="required" value="" readonly></td>
                    </tr>
                    <tr>
                        <td>UNIT:</td>
                        <td><input id="unit" type="text" th:field="*{unit}" name="unit" required="required" value=""></td>
                    </tr>
                    <tr>
                        <td>PRICE:</td>
                        <td><input id="price" type="text" th:field="*{price}" name="price" required="required" value="" readonly></td>
                    </tr>
                    <tr>
                        <td><a th:href="@{/exchange}"><button class="btn-cls btn-cls-small"><i class="fa fa-backward" aria-hidden="true"></i> BACK</button></a></td>
                        <td><input class="btn-cls btn-cls-small" name="submit" type="submit" value="BUY"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>