<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- META -->
    <title>EXCHANGE</title>
    <meta charset="UTF-8">
    <!-- FONT -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../css/simple-grid.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
</head>
<body>

<div class="center">
    <h1><i class="fa fa-hand-paper-o" aria-hidden="true"></i>ACCESS DENIED</h1>
</div>


</body>
</html>