<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- META -->
    <title>EXCHANGE</title>
    <meta charset="UTF-8">
    <!-- FONT -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../../css/simple-grid.css">
    <link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>
<body>

<div class="container">
    <div class="row center-container">
        <div class="border center fit">
            <h1>EXCHANGE FP</h1>
            <table>
                <tr>
                    <td sec:authorize="isAnonymous()" class="btn-cls"><a href="/login">LOGIN</a></td>
                    <td sec:authorize="isAuthenticated()" class="btn-cls"><a href="/exchange">GO TO EXCHANGE</a></td>
                </tr>
                <tr>
                    <td sec:authorize="isAnonymous()" class="btn-cls"><a href="/registration">REGISTRATION</a></td>
                    <td sec:authorize="isAuthenticated()" class="btn-cls"><a href="/logout">LOGOUT</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>